@font-face {
  font-family: 'Deadknight';
  src: url('./font/Deadknight.otf') format('opentype');
}

body {
  font-family: 'Deadknight', sans-serif;
  user-select: none;
}

.header h1:hover{
  transform: scale(1.2);
  color: #dc895e;
}

[name=icon]:hover{
  transform: scale(1.2);
}

polygon#XMLID_5471_,
polygon#XMLID_5371_ {
  fill: white;
}